@import "tailwindcss";
@plugin "daisyui";
@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scrollUp {
  animation: scrollUp 6s ease-in-out infinite;
}
html {
  scroll-behavior: smooth;
}
